{% extends 'base.html' %}

{% block content %}
<h1>Itens disponíveis no almoxarifado</h1>
<br>
<table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Codigo do item</th>
      </tr>
    </thead>
    <tbody>
      {% for item in queryResult %}
      <tr>
        <td>{{ item.nome }}</td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.cod_item }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<br/>
<button type="submit" class="btn btn-secondary">Novo emprestimo</button>
{% endblock %}