{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Codigo do item</th>
      </tr>
    </thead>
    <tbody>
      {% for item in queryResult %}
      <tr>
        <th scope="row">Num</th>
        <td>{{ item.nome }}</td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.cod_item }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}