{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{% url 'login' %}">
    {% csrf_token%}
    <br>
    <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Endereço de Email</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp", name="username", placeholder="Nome de usuário" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1", name="password", placeholder="Senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</form>

{% endblock %}