<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Almoxarifado</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'emprestimos' %}">Meus empréstimos</a></li>
              <li><a class="dropdown-item" href="{% url 'itens' %}">Novo empréstimo</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'itens' %}">Itens disponiveis</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          {% if user.is_authenticated %}

          <button class="btn btn-outline-danger" formaction="{% url 'logout' %}" type="submit">Logout</button>

          {% else %}

          <button class="btn btn-outline-success" formaction="{% url 'login' %}" type="submit">Login</button>

          {% endif %}
        </form>
      </div>
    </div>
  </nav>